<!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>
                      I help businesses by providing savvy front-end development for websites and applications, delivering innovative web-based business solutions. Businesses and professionals enjoy working with me because I am passionate, dedicated, and provide a range of comprehensive digital marketing services to impact business.
                    </p>
                </div>
                <div class="col-lg-4">
                    <p>
                      My talents extend, covering a wide range of technical skills, deep knowledge of lean and agile methodologies, and an artistic designer’s eye for visual detail and drive for innovation.
                      <br /><br />
                      Connect with me today to learn how I can elevate your business to the next level.
                    </p>
                </div>
            </div>
        </div>
    </section>
