{% for post in site.posts %}
<div class="portfolio-modal modal fade" id="{{ post.modalID }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>{{ post.title }}</h2>
                        <span class="star-light"></span>
                        <img src="{{ site.baseurl }}/{{ post.img }}" class="img-responsive img-centered" alt="">
                        {{ post.content }}
                        <ul class="list-inline item-details">
                            <!-- <li>Technology Stack:
                                <strong>{{ post.tags }}
                                    </strong>
                            </li> -->
                            <li>Role:
                                <strong>{{ post.role }}
                                    </strong>
                            </li>
                            <li>Company:
                                <strong>{{ post.company }}
                                    </strong>
                            </li>
                            <li>Client:
                                <strong>{{ post.client }}
                                    </strong>
                            </li>
                            <li>Project Dates:
                                <strong>{{ post.startDate | date: "%B %Y" }} - {{ post.endDate | date: "%B %Y" }}
                                    </strong>
                            </li>
                            <li>Posted: {{ post.date | date: "%B %Y" }}
                            </li>
                        </ul>
                        <button type="button" class="btn btn-success btn-close" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
